# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Folders
.vs/
Build/
/OpenGL_Watermark/Result_DCT.png
/OpenGL_Watermark/Result_DWT.png
/OpenGL_Watermark/Result_SVD.png
/OpenGL_Watermark/Alpha_Sweep_Results_Ultimate.csv
/OpenGL_Watermark/Attack_Robustness_Results.csv
